.hidden {
    display: none !important;
}

.logoImg {
    width: 70px;
    height: 70px;
    margin-left: 20px;
}

.container-menu {
    display: flex;
}


.menu-list {
    display: flex;
    justify-content: space-around;
    width: 100vh;
}

.menu-list_item {
    list-style: none;
}

.menu-list_link {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    
}

.menu-list_link:hover {
    border-bottom: #FEAD72 3px solid;
}

.humburger-menu {
    display: none;
    background-image: url("https://icon-library.com/images/3-bar-menu-icon/3-bar-menu-icon-26.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border: none;
    margin-top: 10px;
}

.humburger-menu-active {
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/77921345366325.5c4d2fae84cd5.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border: none;
}

/* ЗАГОЛОВОК */

.container-header {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    background-color: #ffeac936;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.par-header {
    font-size: 25px;
}

.img-header {
    border-radius: 100px;
}

span {
    color: #f7924a;
}

.btn-header {
    display: flex;
    justify-content: space-between;
}

.bnt {
    padding: 10px;
    border-radius: 50px;
    border: 3px solid #FEAD72;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    background-color: #ffeac936;
}

.bnt:hover {
    background: linear-gradient(to right, #FFE194, #FEAD72);
}

.header-chapter {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.whyChoose {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 20px;
}

.choose {
    width: 20%;
}

h3 {
    color: #5855fd;
}

.program {
    background-color: #ffeac936;
    padding: 30px;
}

.btn-program {
    display: flex;
    justify-content: space-evenly;
}

.bnt-disain {
    padding: 10px;
    border-radius: 50px;
    border: 3px solid #FEAD72;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    background-color: #ffeac936;
}

.bnt-disain-active {
    background: linear-gradient(to right, #FFE194, #FEAD72);
}


.description {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    width: 700px;
}

.price {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.price-option {
    text-align: center;
    border: 3px solid #FEAD72;
    padding: 30px;
    width: 25%;
    border-radius: 50px;
}


.faq-container {
    margin-top: 20px;
    background-color: #ffeac936;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.header-faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.faq {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.questions {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.questions-active {
    color: #5855fd;
}

.answers {
    width: 100%;
}

.answers-block {
    margin-top: 10px;
    width: 900px;
    border: 2px solid #FEAD72;
}

.answers-link  {
    color: black;
    background-color: #FEAD72;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In .SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' fill='%23ffffff' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 240.835 240.835' style='enable-background:new 0 0 240.835 240.835;' xml:space='preserve'%3E%3Cg%3E%3Cpath id='Expand_Less' d='M129.007,57.819c-4.68-4.68-12.499-4.68-17.191,0L3.555,165.803c-4.74,4.74-4.74,12.427,0,17.155 c4.74,4.74,12.439,4.74,17.179,0l99.683-99.406l99.671,99.418c4.752,4.74,12.439,4.74,17.191,0c4.74-4.74,4.74-12.427,0-17.155 L129.007,57.819z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    outline: none;
    background-size: 30px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border: none;
    width: 100%;
}

.answers-link_active {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In .SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='451.847px' height='451.847px' viewBox='0 0 451.847 451.847' style='enable-background:new 0 0 451.847 451.847;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751 c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0 c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
}

.answers-item {
    text-align: center;
}

.ask {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
    background-color: #FEAD72;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.modal_close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 15px;
    border: none;
    background-image: url('https://yt3.ggpht.com/ytc/AKedOLQZSSnzZSBqZzj_X-MYokDApZmML18WQCAFFCCU0Q=s900-c-k-c0x00ffffff-no-rj');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.input {
    margin-bottom: 10px;
    padding: 5px;
}

.input-message {
    height: 50px;
}

.par-modal {
    font-size: 14px;
}

.modal-buttons {
    align-self: center;
}

.btn-modal {
    padding: 10px;
    border-radius: 50px;
    border: none;
    width: 250px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    background-color: #fff;
    margin-top: 15px;
}

.test {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    background-color: #ffeac936;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}










@media all and (max-width: 800px) {
    .menu-list {
        width: 100%;
    }

    .container-header {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .img-header {
        margin-top: 20px;
        margin-left: 40px;
    }

    .btn-program {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .img-header {
        margin-bottom: 20px;
    }

    .price {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .price-option {
        width: 70%;
        align-self: center;
        margin-bottom: 20px;
    }

    .faq {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .questions {
        display: flex;
        font-size: 20px;
    }

    .answers-block {
        width: 100%;
    }

    .ask {
        font-size: 17px;
    }
}

@media all and (max-width: 500px) {
    
    .menu-list {
        display: flex;
        flex-direction: column;
    }

    .container-header {
        padding: 15px;
        font-size: 17px;
    }

    .btn-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bnt, .bnt-disain {
        margin-top: 15px;
        width: 260px;
        font-size: 19px;
    }

    .img-header {
        margin-left: 0;
        width: 320px;
        height: auto;
        border-radius: 20px;
    }

    .whyChoose {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .choose {
        width: 90%;
    }

    .description {
        width: 90%;
    }

    .questions {
        display: flex;
        flex-direction: column;
    }

    .iconAQ {
        display: none;
    }

    .ask {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .modal-container {
        width: 220px;
        padding: 30px;
        font-size: 15px;
    }

    .btn-modal {
        width: 220px;
        font-size: 15px;
    }

    .test {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        text-align: center;
        align-items: center;
    }

    img {
        margin-top: 10px;
    }

    .menu {
        display: none;
    }

    .menu-active {
        display: block;
        background-color: #fff;
    }

    .humburger-menu {
        display: block;
    }

    .logoImg  {
        display: none;
    }

}